* {
  font-family: 'Oswald', sans-serif;
}

/*tablet*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  .container {
    
  }
  body {
    height: 960px;
  }
}
/*desktop*/
@media only screen 
and (min-width : 1224px) {
  html body {
    padding-top: 20px;
  }
  .container {
    max-width: 960px;
    height: 80%;
    margin-top: 10px;
    margin: auto;

  }
  
}
/*ALL THE THINGS*/
body {
  margin: 0;
  padding: 0;
}
nav {
  border-bottom: 10px solid black;
  padding: 10px 20px 10px 20px;
  text-align: right;
}
.container {
  /*gradient*/
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
  
  border-radius: 40px;
  border: 2px solid black;
}

#adventure {
  margin: auto;
}
#adventure_content {
  padding: 30px 40px;
  font-weight: 700px;
  font-size: 36px;
}
/*buttons and shit*/
.buttons {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.button {
 position: relative;
 border: none;
 display: inline-block;
 box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
       inset 0px -5px 0px 0px rgba(0,0,0,0.3),
    inset 0px 2px 0px 0px rgba(255,255,255,0.5);
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 overflow: hidden;
 cursor: pointer;
 margin: 36px;
}
.button:active {
 box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
       inset 0px -2px 0px 0px rgba(0,0,0,0.3),
    inset 0px 2px 0px 0px rgba(255,255,255,0.5);
 top: 3px;
}
.button div {
 font-size: 28px;
 padding: 10px 20px 12px 20px;
 color: rgba(0,0,0,0.7);
 text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
}
.button:active div {
 padding-bottom: 9px;
}
.wood {
 background: url(http://1.bp.blogspot.com/-tXavBQFjNFQ/VMSaYaq7PtI/AAAAAAAADSc/awMPRe3yu5A/s1600/wood_pattern.png);
}